In [1]:
import pandas as pd

In [6]:
df = pd.read_csv('/workspaces/data-engineering-bootcamp/00-bootcamp-project/dags/addresses_export', delimiter='\t', header=None)

In [7]:

df

,0,1,2,3,4
0,299ec70d-f1e7-4807-9d0e-6fd86e3ebcab,220 Artisan Park,92056,California,United States
1,957af504-cee3-4f3a-8f5a-eb5a5bd23b16,85717 Carberry Street,85062,Arizona,United States
2,ff8d0181-f21e-4235-bf7c-e5f917c6b55f,5423 Tennyson Alley,21282,Maryland,United States
3,b5d85492-b403-4f52-a42b-4363716f4cfb,4 Sutherland Alley,62723,Illinois,United States
4,e71bd22e-7711-405f-9d7e-2a7824d68a6a,226 Sherman Pass,33169,Florida,United States
...,...,...,...,...,...
145,9b6a4ed6-6c27-4102-8d5f-5db7435e80ee,2148 8th Road,55446,Minnesota,United States
146,72f36ef2-3c89-413d-a2c0-f91e8221a052,975 Pond Hill,98042,Washington,United States
147,b77fd02e-2ad1-4235-8ea9-d9ea509d9c04,182 Elmside Drive,55172,Minnesota,United States
148,b3db1ec9-17b7-4b15-8f04-b2077048f428,2086 Russell Circle,92822,California,United States
149,a4214945-dbfc-4bc2-afe6-ab00f33edcfe,78 Cardinal Trail,93291,California,United States